<div class="main-page-title"><!-- start main page title -->
			<div class="container">
				<div class="post-job-title">Find Jobs</div>				
			</div>

</div><!-- end main page title -->
					

		
		
<div class="container">
		<div class="spacer-1">&nbsp;</div>
		<div class="row">
			<div class="col-md-8">
				<form role="form" class="post-job-form">
						<div class="row">
							<div class="form-group col-md-6">
								<strong>Enter search criteria</strong>								
								<input type="text" class="form-control" name="keyword" id="keyword" placeholder="Search By Skills, Title, Keywords">
							</div>	
							
						<!--	<div class="form-group col-md-6">	
								<strong>Location </strong>
								<input type="text" class="form-control" name="location" id="location" placeholder="Search By Bengaluru, Delhi, Pune, Mumbai">                                
							</div>	-->		
						</div>		
				
						<div class="submit-btn" style="margin-top: 25px;">
							<input type="submit" class="btn btn-green" name="submit" value="Search Jobs">
						</div> <br><br>
										
				</form>
				
					
					<h4>Jobs matching for your search criteria - <script type="text/javascript">
						document.write(qs("keyword"));
					</script></h4>
					<br>
					
									
				           						
               <table width="100%" class="pure pure-table  pure-table-bordered pure-table-hover" id="results">
                   <thead>
                       <tr>
                           <th width="42%">JOB DESCRIPTION</th>
                           <th width="18%">COMPANY NAME</th>
						   <th width="13%">LOCATION</th>
                           <th width="13%">EXPERIENCE</th>                                                
                           <th width="18%">POSTED</th>
                           <th width="18%">Ask4Refferal</th>
                    </tr>
                   </thead>
                   <tbody>
						<% @jobs.each do |job| %>
							<% if job.japproval.name == "Approved" %>
								<% @keyword_key = params['keyword'] %>								
								<% if job.description =~ (/#{@keyword_key}/i) %>
									<% @localminexp = job.minexp %>
									<% @localmaxexp = job.maxexp %>
									<tr>
										<td><%= link_to job.title, job %></td>
										<td><%= job.company %></td>			  
										<td><%= job.location.name %></td>
										<td><%= "#{@localminexp} - #{@localmaxexp} Y" %></td>														
										<td><%= job.created_at.strftime("%d-%b-%Y") %></td>
										<td><%= link_to "Ask4Refferal", new_referral_path(:jobdesignation => job.designation) %></td>
									</tr>
								
								    
									
								<% end %>
							<% end %>
						<% end %>						
					</tbody>
               </table>  
				<h6 class="general_heading" style="cursor: pointer; cursor: hand; "><div id="pageNavPosition"></div></h6>	
			<br>
			</div>                                                    
    	


				
				
				
				<div class="col-md-3">
					<div class="job-side-wrap">
						<li><%= link_to "HOME", root_path %></li>
					</div>
					
					<div class="job-side-wrap">
						<li><%= link_to "POST JOBS", new_job_path %></li>
					</div>

					<div class="job-side-wrap">
						<li><%= link_to "FIND JOBS", findjobs_path(:keyword => "Null", :location => "Null")   %></li>
					</div>

					<div class="job-side-wrap">
						<li><%= link_to "ABOUT US", about_path %></li>
					</div>
					<div class="job-side-wrap">
						<li><%= link_to "CONTACT US", new_contact_path %></li>
					</div>
					<div class="job-side-wrap">
						<li><%= link_to "CAREERS", career_path %></li>	
					</div>
				</div>
			</div>
		</div>
		
		
		

		<div id="page-content"><!-- start content -->
			<div class="content-about">
				<div id="cs"><!-- CS -->
					<div class="container">
					<div class="spacer-1">&nbsp;</div>
						<h2>Facing problem in searching jobs? </h2>
						<p>
							Please send resume on admin@ask4referral.com
						</p>
						<h1 class="phone-cs">Call: +91-9945508524</h1>
					</div>
				</div><!-- CS -->
			</div><!-- end content -->
		</div><!-- end page content -->
		
