<div class="main-page-title"><!-- start main page title -->
			<div class="container">
				<div class="post-job-title">Job Description: </div>				
			</div>

</div><!-- end main page title -->

<p id="notice"><%= notice %></p>
<div class="container">
		<div class="spacer-1">&nbsp;</div>
			<div class="row">
				<div class="col-md-6">

					<strong>
					<%= link_to "Ask4Refferal", new_referral_path(:jobdesignation => @job.designation), class: "btn btn-green" %>
					</strong> 
					
					<br><br>
					<p>
					<em>Title:</em>
					<b><%= @job.title %></b>
					</p>
					
					<p>
					<em>Company:</em>
					<b><%= @job.company %></b>
					</p>
					
					<p>
					<em>Company url:</em>
					<b><%= @job.comurl %></b>
					</p>
					
					<p>
					<em>Designation:</em>
					<b><%= @job.designation %></b>
					</p>
					<!--
					<p>
					<em>Min Salary:</em>
					<b><%= @job.minsalary %></b>
					</p>
					
					<p>
					<em>Max Salary:</em>
					<b><%= @job.maxsalary %></b>
					</p>
					-->
					<p>
					<em>Min Experience:</em>
					<b><%= @job.minexp %></b><i> Years</i>
					</p>
					
					<p>
					<em>Max Experience:</em>
					<b><%= @job.maxexp %></b><i> Years</i>
					</p>
					
					<p>
					<em>Job Category:</em>
					<b><%= @job.category.name %></b>
					</p>
					
					<p>
					<em>Location:</em>
					<b><%= @job.location.name %></b>
					</p>
					
					<p>
					<em>Job Mode:</em>
					<b><%= @job.mode.name %></b>
					</p>
					
					<p>
					<em>Job Type:</em>
					<b><%= @job.jtype.name %></b>
					</p>
					
					<p>
					<em>Preferred Notice Period:</em>
					<b><%= @job.nperiod %></b><i> Days</i>
					</p>
				<!--	
					<p>
					<em>Gender:</em>
					<b><%= @job.gender.name %></b>
					</p>
				-->	
					<p>
					<em>Contact Person:</em>
					<b><%= @job.contactperson %></b>
					</p>
					
					<p>
					<em>Contact Email:</em>
					<b><%= @job.contactemail %></b>
					</p>
				<!--	
					<p>
					<em>Contact No:</em>
					<b><%= @job.contactno %></b>
					</p>
				-->
					<div class="hr-spacer100"></div></br>
					<p>
					<em>Description:</em>
					<%= sanitize(@job.description, :tags => ['strong', 'em', 'a', 'p', 'u', 'br', 'ul', 'li', 'b']) %>
					</p></br>
					<div class="hr-spacer100"></div>
					<!--
					<p>
					<em>Job Id:</em>
					<%= @job.id %>
					</p>
					-->
					
						
					<strong>
					<%= link_to "Ask4Refferal", new_referral_path(:jobdesignation => @job.designation), class: "btn btn-green" %>
					</strong> 
					
				</div>
				
				
				<div class="col-md-4">
					<div class="job-side-wrap">
						<li><%= link_to "HOME", root_path %></li>
					</div>
					
					<div class="job-side-wrap">
						<li><%= link_to "POST A JOB", new_job_path %></li>
					</div>

					<div class="job-side-wrap">
						<li><%= link_to "JOB SEARCH", findjobs_path(:keyword => "Null", :location => "Null")   %></li>
					</div>

					<div class="job-side-wrap">
						<li><%= link_to "ABOUT US", about_path %></li>
					</div>
					<div class="job-side-wrap">
						<li><%= link_to "CONTACT US", new_contact_path %></li>
					</div>
					<div class="job-side-wrap">
						<li><%= link_to "CAREERS", career_path %></li>	
					</div>
				</div>
			</div>
		</div>

		<br>
		
		<div id="page-content"><!-- start content -->
			<div class="content-about">
				<div id="cs"><!-- CS -->
					<div class="container">
					<div class="spacer-1">&nbsp;</div>
						<h2>Are you facing any issue? </h2>
						<p>
							We are happy to hear it. Please send details on info@ask4referral.com.
						</p>
						<h1 class="phone-cs">Call: +91-9945508524</h1>
					</div>
			</div><!-- CS -->
		</div><!-- end content -->
	</div><!-- end page content -->					

	

