


<div class="main-page-title"><!-- start main page title -->
			<div class="container">
				<div class="post-job-title">Career</div>				
			</div>

</div><!-- end main page title -->
					
 
		
		
		<div class="container">
		<div class="spacer-1">&nbsp;</div>
			<div class="row">
				<div class="col-md-8">


<h2>Yes, We have started hiring </h2><br> <br>
<li> Ruby on rails Developer</li><br>
<li> Web Designer</li><br>
<li> Software Test Engineer</li><br>
<li> Automation Engineer</li><br><br>

<p>Apply on Ask4referral.com or send your resume on opening@ask4referral.com</p>

<br>

</div>


		<div class="col-md-4">
					<div class="job-side-wrap">
						<li><%= link_to "HOME", root_path %></li>
					</div>
					
					<div class="job-side-wrap">
						<li><%= link_to "POST JOBS", new_job_path %></li>
					</div>

					<div class="job-side-wrap">
						<li><%= link_to "FIND JOBS", findjobs_path(:keyword => "Null", :location => "Null")   %></li>
					</div>

					<div class="job-side-wrap">
						<li><%= link_to "ABOUT US", about_path %></li>
					</div>
					<div class="job-side-wrap">
						<li><%= link_to "CONTACT US", new_contact_path %></li>
					</div>
					<div class="job-side-wrap">
						<li><%= link_to "CAREERS", career_path %></li>	
					</div>
				</div>
			</div>
		</div>

                         


  </div>
</div>                   

</div>

 <div id="page-content"><!-- start content -->
                        <div class="content-about">
                                <div id="cs"><!-- CS -->
                                        <div class="container">
                                        <div class="spacer-1">&nbsp;</div>
                                                <h2>Want to join Ask4Referral.com? </h2>
                                                <p>
                                                        Please send resume on admin@ask4referral.com
                                                </p>
                                                <h1 class="phone-cs">Call: +91-9945508524</h1>
                                        </div>
                                </div><!-- CS -->
                        </div><!-- end content -->
                </div><!-- end page content -->
<br>
