


<div class="main-page-title"><!-- start main page title -->
			<div class="container">
				<div class="post-job-title">Contact Us</div>				
			</div>

</div><!-- end main page title -->
					
 
		
		
		<div class="container">
		<div class="spacer-1">&nbsp;</div>
			<div class="row">
				<div class="col-md-8">


<h2>Address: </h2>
<p>Ask4Referral.com<br>
Building Manyata,  Near R.V. Public School<br>
Mavali, Bengaluru-560004, India<br>
Mobile: +91-9945508524<br>
Email: contact_us@ask4referralcom</p>

<br>

</div>


		<div class="col-md-4">
					<div class="job-side-wrap">
						<li><%= link_to "HOME", root_path %></li>
					</div>
					
					<div class="job-side-wrap">
						<li><%= link_to "POST JOBS", new_job_path %></li>
					</div>

					<div class="job-side-wrap">
						<li><%= link_to "FIND JOBS", findjobs_path(:keyword => "Null", :location => "Null")   %></li>
					</div>

					<div class="job-side-wrap">
						<li><%= link_to "ABOUT US", about_path %></li>
					</div>
					<div class="job-side-wrap">
						<li><%= link_to "CONTACT US", new_contact_path %></li>
					</div>
					<div class="job-side-wrap">
						<li><%= link_to "CAREERS", career_path %></li>	
					</div>
				</div>
			</div>
		</div>

                         


  </div>
</div>                   

</div>
<br>
